/* define your color & font-size */

$base01: red;
$base02: fuchsia;
$base03: green;
$base04: chocolate;
$base05: cyan;
$base06: moccasin;
$base07: white;
$base08: black;

$alpha: 1/6;

$font-size: 16px;
$line-height: 1;
