/* This is for your Custom Content. */

@mixin sans-serif {
  font-family: "Ubuntu", "Helvetica Neue", Tahoma, Arial, Helvetica, sans-serif;
}

@mixin serif {
  font-family: "Cambo", serif;
}

@mixin monospace {
  font-family: "PT Mono", "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

@mixin transition($a: 0.3s) {
  transition: all $a;
}

@mixin text-shadow($a: 255, $b: 1px, $c: 170) {
  text-shadow: 0px 1px 0px rgb($a, $a, $a), 0px 1px $b rgba($c, $c, $c, 0.8);
}

@mixin box-shadow($a, $b, $c, $d) {
  box-shadow: $a $b $c rgba(50, 118, 177, $d);
}

@mixin border($a) {
  border: 1px solid rgba(50, 118, 177, $a);
}

@mixin border-radius($a) {
  border-radius: $a;
}

@mixin background-color($a: 249, $b: 0.5) {
  background-color: rgba($a, $a, $a, $b);
}

@mixin img {
  max-width: 100%;
  margin: 0px auto;
  /*display: block;*/
  border-radius: 6px;
  padding: 4px;
  line-height: 1.429;
  @include background-color;
  @include border(0.2);
  @include box-shadow(1px, 2px, 4px, 0.8);
  @include transition;
}
