/* This is for your Custom Content. */

body {
  color: rgba(51, 51, 51, .9);
  background: url("../images/bg.png") repeat scroll left top transparent;
  @include sans-serif;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 ,b, strong {
  @include text-shadow(255, 2px, 170);
  font-weight: 500;
  /*@include sans-serif;*/
  font-family: "Helvetica Neue", 'Ubuntu', Tahoma, Arial, Helvetica, SimHei, sans-serif;
  small {
    @include text-shadow;
  }
}

h5, h6, strong {
  @include text-shadow;
}

a {
  @include transition;
  color: rgba(0, 136, 204, .9);
  &:hover, &:focus {
    color: rgb(0, 85, 128);
    text-decoration: none;
    @include transition;
  }
}

.navbar .brand, .navbar .nav > li > a {
  @include transition;
  @include text-shadow(255, 0, 170);
  &:hover, &:focus {
    color: rgb(51, 51, 51);
    @include text-shadow(255, 1px, 170);
    @include transition;
  }
}

body > nav.navbar-default {
  @include background-color(249, .8);
  @include box-shadow(0, 0, 12px, .8);
}

.nav > li > form {
  position: relative;
  display: block;
  padding: 10px 15px;
  input {
    @include background-color(255, .5);
  }
}

.container > .navbar-header, .container > .navbar-collapse {
  @include text-shadow(255, 2px, 170);
  @include transition;
  margin-right: 0;
  margin-left: 0;
  @include serif;
  font-weight: 500;
}

.container > .navbar-header > a {
  font-size: 30px;
}

.container > .navbar-collapse {
  font-size: 16px;
}

.page-header {
  border-bottom: 1px dashed rgba(50, 118, 177, .067);
}

.tag_box a span {
  vertical-align: super;
  font-size: .8em;
}

.tag_box a {
  padding: 3px;
  margin: 2px;
  line-height: 180%;
  border-radius: 3px;
  @include background-color(238, .9);
}

.row .visible-lg {
  margin-top:40px;
}

article {
  .wrapper {
    @include transition;
    @include border(.167);
    @include box-shadow(0, 0, 6px, .567);
    padding:10px;
    margin: 10px 0;
    .entry-title {
      border-bottom: 1px dashed rgba(50, 118, 177, .067);
    }
    p img {
      @include img;
    }
    .status {
      border-top: 1px dashed rgba(50, 118, 177, .067);
      padding-top: 10px;
      color: rgba(169, 169, 169, 1);
      .meta {
        padding: 4px 0 0;
        vertical-align: middle;
        p {
          display: inline;
          margin: 0 4px;
        }
        a {
          color: rgba(169, 169, 169, 1);
          &:hover, &:focus {
            color: rgb(51, 51, 51);
          }
          p {
            display: inline;
            margin: 0 4px;
          }
          span {
            margin-left: 2px;
            vertical-align: super;
            font-size: .8em;
          }
        }
      }
      .visible-lg {
        margin-top: 0;
      }
    }
  }
  .status {
    .visible-lg {
      margin-top: 0;
    }
  }
  p, ol, ul, table {
    img {
      @include img;
    }
    code {
      @include monospace;
      @include box-shadow(0, 0, 1px, .167);
      @include border(.067);
    }
  }
  .highlight pre {
    @include transition;
    @include background-color(249, .9);
    @include border(.35);
    @include box-shadow(0, 0, 3px, .267);
    code {
      @include monospace;
    }
  }
}

section {
  @include transition;
  @include border(.167);
  @include box-shadow(0, 0, 4px, .467);
  @include background-color;
  padding: 0 5px;
  margin: 5px 0;
  h4 {
    @include serif;
    border-bottom: 1px dashed rgba(50, 118, 177, .067);
  }
}

blockquote {
  border-left: 5px solid rgb(200, 200, 200);
  p {
    font-style: oblique;
  }
}

table {
  margin-bottom: 20px;
  max-width: 100%;
  border-collapse: collapse;
  @include transition;
  @include border(.167);
  &:hover {
    @include transition;
    @include border(.35);
    @include box-shadow(0, 0, 3, .267);
  }
  thead tr th {
    @include border(.167);
    border-top: 0 none;
    border-bottom-width: 2px;
    vertical-align: bottom;
    padding: 8px;
  }
  tbody tr td {
    @include border(.167);
    vertical-align: middle;
    padding: 8px;
  }
  thead > tr {
    @include background-color(249, .9);
  }
  tbody > tr:nth-child(2n+1) {
    @include background-color;
  }
  tbody tr {
    &:hover {
      @include background-color(235, .7);
      @include transition;
    }
  }
}

footer {
  margin: 20px 0;
  p {
    line-height: 100%;
    color: rgb(119, 119, 119);
    a {
      color: rgb(119, 119, 119);
      &:hover, &:focus {
        color: rgb(51, 51, 51);
      }
    }
  }
}

#search-loader {
 display:none;
 text-align:center
}

/* baidu share style fixed */
.bds_more {
    box-sizing: content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
}
