<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="renderer" content="webkit|ie-stand">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  {% if site.author.name %}<meta name="author" content="{{ site.author.name }}">{% endif %}

  <!-- fav and touch icons  -->
  <link rel="shortcut icon" href="{{ site.assets_path }}/images/favicon.png">
  <link rel="apple-touch-icon" href="{{ site.assets_path }}/images/touch-icon-iphone.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.assets_path }}/images/touch-icon-ipad.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.assets_path }}/images/touch-icon-iphone-retina.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.assets_path }}/images/touch-icon-ipad-retina.png">

  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html,'' }}">
  <link rel="stylesheet" href="{{ site.assets_path }}/css/style.css" media="all">

  <!-- atom & rss feed -->
  <link href="{{ site.rss_path }}" type="application/rss+xml" rel="alternate" title="{{ site.title }} RSS Feed">
  <link href="{{ site.atom_path }}" type="application/atom+xml" rel="alternate" title="{{ site.title }} ATOM Feed">

  {% if site.webmaster.baidu.verify %}<meta name="baidu-site-verification" content="{{ site.webmaster.baidu.verify }}" />{% endif %}
  {% if site.webmaster.google.verify %}<meta name="google-site-verification" content="{{ site.webmaster.google.verify }}" />{% endif %}
  {% if site.webmaster.bing.verify %}<meta name="msvalidate.01" content="{{ site.webmaster.bing.verify }}" />{% endif %}

  <script>
    var domain = "havee.me";
    var current = ["www.havee.me", "hae.coding.me"];
    for ( var i = 0; i < current.length; i++ ) {
      if ( document.location.host == current[i] ) {
        document.location.href = "\/\/" + domain + this.location.pathname;
      }
    }
  </script>
</head>
