<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{%else%}<meta name="keywords" content="{{ site.keywords }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ BASE_PATH }}/favicon.png">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html,'' }}">

    <link rel="stylesheet" href="{{ BASE_PATH }}/style/css/bootstrap.min.css" media="all">
    <link rel="stylesheet" href="{{ BASE_PATH }}/style/css/style.css" media="all">
    <link rel="stylesheet" href="{{ BASE_PATH }}/style/css/pygments.css" media="all">
    <link rel="stylesheet" href="{{ BASE_PATH }}/style/css/font-awesome.css" media="all">

    <!-- atom & rss feed -->
    <link href="{{ site.rss_path }}" type="application/rss+xml" rel="alternate" title="{{ site.title }} RSS Feed">
    <link href="{{ site.atom_path }}" type="application/atom+xml" rel="alternate" title="{{ site.title }} ATOM Feed">
</head>
