/* This is base content. */

@mixin sans-serif {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
}

@mixin serif {
  font-family: serif;
}

@mixin monospace {
  font-family: Monaco, Consolas, Terminal, monospace;
}

@mixin transition($a: .3s) {
  transition: all $a;
}

@mixin text-shadow($a: 255, $b: 1px, $c: 170) {
  text-shadow: 0 1px 0 rgb($a, $a, $a), 0 1px $b rgba($c, $c, $c, .8);
}

@mixin img {
  max-width: 85%;
  margin: 0 auto;
  display: inherit;
  border-radius: 6px;
  padding: 4px;
  line-height: 1.429;
}
