/* define your color & font-size */

$base01: crimson;
$base02: fuchsia;
$base03: green;
$base04: chocolate;
$base05: cyan;
$base06: moccasin;
$base07: white;
$base08: black;
$base09: skyblue;

$alpha: 0.167;

$font-size: 16px;
