body {
  font-size: 16px;
  line-height: 1.6;
  color: rgba(051, 051, 051, .9);
  background-color: rgba(204, 204, 204, .3);
  word-break: break-all;
  @include sans-serif;
}

:hover, :focus {
  @include transition;
  }

a {
  &:hover, &:focus {
    text-decoration: none;
  }
}

h1 {
  font-size: 32px;
  color: rgba(255, 051, 051, .8);
  &:hover, &:focus {
    color: rgba(153, 051, 051, .8);
  }
}

h2 {
  font-size: 28px;
  color: rgba(255, 000, 255, .8);
  border-bottom: 2px solid rgba(255, 000, 255, .375);
  &:hover, &:focus {
    color: rgba(153, 000, 153, .8);
    border-bottom: 2px solid rgba(153, 000, 153, .375);
  }
}

h3 {
  font-size: 24px;
  color: rgba(000, 153, 051, .8);
  &:hover, &:focus {
    color: rgba(000, 102, 051, .8);
  }
}

h4 {
  font-size: 24px;
  color: rgba(153, 000, 000, .8);
  &:hover, &:focus {
    color: rgba(102, 000, 000, .8);
  }
}

h5 {
  font-size: 20px;
  color: rgba(102, 102, 051, .8);
  &:hover, &:focus {
    color: rgba(051, 051, 000, .8)
  }
}

h6 {
  font-size: 20px;
  color: rgba(000, 000, 000, .8);
}

h1, h2, h3, h4, h5, h6, strong {
  line-height: 1.8;
  @include text-shadow;
}

time.small {
  font-size: 50%;
  color: rgba(119, 119, 119, .8);
}

.header {
  display: inline;
  .title {
    font-size: 36px;
    padding-left: 15px;
    display: inline;
    @include text-shadow;
    a {
      color: rgba(000, 153, 153, .8);
      &:hover, &:focus {
        color: rgba(000, 102, 102, .8);
      }
    }
  }
  ul {
    li {
      margin: 4px 0;
      display: inline-block;
      a {
        color: rgba(000, 153, 153, .8);
        @include text-shadow;
        &:hover, &:focus {
          color: rgba(000, 102, 102, .8);
          background: transparent;
        }
      }
      form {
        margin-top: 15px;
      }
    }
  }
}

.container {
  padding: 0 5px;
}

.wrapper {
  border: 1px solid rgba(000, 000, 000, .17);
  box-shadow: 0 1px 10px rgba(170, 170, 170, .8);
  background: rgba(253, 253, 253, .9);
  padding: 10px 10px 20px 10px;
  margin: 5px 0 15px;
  .title {
    color: rgba(000, 153, 051, .8);
    border-bottom: 2px dashed rgba(000, 153, 051, .375);
    &:hover, &:focus {
      color: rgba(000, 102, 051, .8);
      border-bottom: 2px dashed rgba(000, 102, 051, .375);
    }
    a {
      color: rgba(000, 153, 051, .8);
      &:hover, &:focus {
        color: rgba(000, 102, 051, .8);
      }
    }
  }
  p, ol, ul, table {
    li {
      margin: 5px 0;
    }
    img {
      @include img;
    }
    code {
      background-color: rgba(000, 153, 153, .167);
      box-shadow: 0 0 1px rgba(000, 000, 000, .167);
      border: 1px solid rgba(102, 102, 102, .167);
      @include monospace;
    }
  }
  .highlight pre {
    background-color: rgba(000, 153, 153, .167);
    box-shadow: 0 0 3px rgba(000, 053, 051, .167);
    border-color: rgba(102, 102, 102, .35);
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    max-width: 95%;
    margin: 10px auto;
    &:hover, &:focus {
      box-shadow: 0 0 5px rgba(000, 153, 051, .35);
    }
    code {
      @include monospace;
    }
  }
  blockquote {
    background-color: rgba(0,153,51,0.167);
    box-shadow: 0 0 6px rgba(000, 153, 51, .167);
    border-color: rgba(102, 102, 102, .35);
    border-style: solid;
    border-width: 1px 1px 1px 4px;
    border-radius: 4px;
    max-width: 95%;
    margin: 15px auto;
    position: relative;
    &:before, &:after {
      color: rgba(102, 102, 102, .7);
      content: "\201C";
      font-family: Times, serif;
      font-size: 34px;
      font-weight: bold;
      position: absolute;
      top: 0;
      left: 0;
    }
    &:before {
      top: 0;
      left: 0;
    }
    &:after {
      bottom: 0;
      right: 0;
      transform: rotate(180deg);
    }
  }
  hr {
    border-color: rgba(102, 102, 102, .8);
  }
  .tag-box {
    display: table;
    list-style: none outside none;
    li {
      line-height: 1.8;
      display: inline-block;
      margin: 0 3px;
      a {
        padding: 2px 4px;
        background-color: rgba(255,204,204,.3);
        border-radius: 4px;
      }
    }
  }
}

table {
  margin-bottom: 20px;
  max-width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 3px rgba(000, 053, 051, .167);
  border: 1px solid rgba(102, 102, 102, .167);
  @include transition;
  &:hover {
    border: 1px solid rgba(102, 102, 102, .35);
    box-shadow: 0 0 5px rgba(000, 153, 051, .35);
    @include transition;
  }
  thead tr th {
    color: rgba(0, 153, 153, .8);
    border: 1px solid rgba(102, 102, 102, .167);
    border-top: 0 none;
    border-bottom-width: 2px;
    vertical-align: bottom;
    padding: 8px;
  }
  tbody tr td {
    border: 1px solid rgba(102, 102, 102, .167);
    vertical-align: middle;
    padding: 8px;
  }
  thead > tr {
    background-color: rgba(249, 249, 249, .9);
  }
  tbody > tr {
    &:nth-child(2n+1) {
      background-color: rgba(000, 153, 153, .1);
    }
  }
  tbody tr {
    background-color: rgba(249, 249, 249, .6);
    &:hover {
      background-color: rgba(000, 153, 153, .3);
      @include transition;
    }
  }
}

.navbar-toggle {
  background-color: rgba(000, 153, 153, .8);
  &:hover, &:focus {
    background-color: rgba(000, 102, 102, .8);
  }
  .icon-bar {
    background-color: rgba(249, 249, 249, .8);
  }
}

.btn-primary {
  border: 1px solid rgba(102, 102, 102, .167);
  background-color: rgba(000, 153, 153, .8);
  &:hover, &:focus {
    background-color: rgba(000, 102, 102, .8);
  }
}
.btn-primary.disabled {
  border: 1px solid rgba(102, 102, 102, .167);
  background-color: rgba(000, 153, 153, .7);
}

.previous > a, .next > a {
  color: rgba(000, 153, 153, .8);
  &:hover, &:focus {
    color: rgba(000, 102, 102, .8);
  }
}

.footer {
  padding: 0 15px;
  p {
    color: rgba(119, 119, 119, .8);
    line-height: 1;
    a {
      color: rgba(119, 119, 119, .8);
      &:hover, &:focus {
        color: rgb(51, 51, 51)
      }
    }
  }
}

#search-loader {
  display: none;
  text-align: center;
}
